.carousel {
  display: flex;
  margin: 5rem auto;
  width: 60rem;
  height: 40rem;
}

.img {
  width: 60rem;
  height: 40rem;
  display: block;
  transform: translateX(-300px);
  transition: transform 0.5s linear;
}

.visible {
  transform: translateX(0px);
}
